{% extends "aplicacion/0001_about.html" %}
{% load static %}




{% block title %}  ¿Quienes somos? {% endblock %}

{% block header2 %} ¿Quienes somos? {% endblock %}



{% block header3 %} Un compromiso con la educacion {% endblock %}
{% block header4 %} Un compromiso con el trabajo {% endblock %}

{% block headerimage1 %} "{% static 'aplicacion/assets/img/about.jpg' %}" {% endblock %}






{% block parrafo1 %} 
<p> Representamos a una organización con mucho fin de lucro que, sin embargo, busca brindar la mejor y más actualizada educación posible. </p>
<p> En un contexto donde las modernización del día a día se nos viene encima y nos obligando a readecuarnos a las demandas de un mercado sin limites eticos, en Formación Laboral SXXI, brindamos la más amplia gama de cursos. 
<p> Estos cursos tienen la finalidad de capacitar, instruir o actualizar a trabajadores de un rubro, sin embargo, tambien consideramos nuestra oferta para personas que no han tenido un acercamiento a una rama específica del mundo laboral e incluso a personas con valores éticos creativos y auténticos. </p> 
<p> Cursos como Venta de Organos o Venta de Niños invitan al trabajador promedio a hacer un negocio expectacular que le permita dejar de ser pobre y poner una pyme, como Dios manda. Acercate a Formación Laboral SXXI para que juntos construyamos un futuro mejor y saqueemos a la Argentina juntos. </p> 

{% endblock %}


{% block header3_b %} Otro cuadrito de texto canchero {% endblock %}
{% block header4_b %} Otro terrible header{% endblock %}
{% block parrafo1_b %} Este es un parrafo con informacion relevante que nisiquiera viene de un archivo html común. Son puro bloques del lenguaje para templates de Django. Extraordinario. {% endblock %}
